.loginInput {
    /* base */
    @apply tw-rounded-none;

    /* focus */
    @apply focus-visible:tw-border-primary focus-visible:tw-ring-0 focus-visible:tw-border-2;

    /* invalid */
    @apply aria-invalid:tw-border-destructive;
}

.loginCardWrapper {
    @apply tw-flex tw-min-h-screen tw-items-center tw-justify-center md:tw-h-[80vh];
}
