.navbarContainer {
    @apply tw-bg-background tw-relative tw-container;
}

.navbar {
    @apply tw-bg-background tw-min-h-[6rem]
    tw-flex tw-justify-between tw-items-center
    tw-z-20 tw-relative;
}

.logo {
    @apply tw-text-3xl tw-font-bold tw-font-digit tw-w-max tw-border-2 tw-border-primary tw-p-3 tw-shadow-[6px_6px];
}


