.navbarContainer {
    @apply tw-bg-background tw-relative tw-container;
}

.navbar {
    @apply tw-bg-background tw-min-h-[6rem]
    tw-flex tw-justify-between tw-items-center
    tw-z-20 tw-relative;
}

