.paginationBtn {
    @apply tw-border-4 tw-border-black
    tw-cursor-pointer tw-py-2 tw-px-5 md:tw-px-10
    tw-flex tw-items-center tw-gap-1
    tw-text-xl md:tw-text-2xl tw-transform
    tw-bg-primary tw-text-primary-foreground
    lg:tw-bg-background lg:tw-text-foreground
    hover:tw-bg-primary hover:tw-text-primary-foreground;

    &.next {
        @apply -tw-skew-x-12;
    }

    &.prev {
        @apply tw-skew-x-12;
    }
}
