.footerContainer {
    /* layout */
    @apply tw-container tw-flex tw-gap-3 tw-min-h-[6rem] tw-mt-20;

    /* responsive */
    @apply tw-flex-col md:tw-flex-row tw-items-center tw-justify-center;

    /* text */
    @apply tw-font-nato tw-text-sm md:tw-text-base tw-font-medium tw-text-muted-foreground;
}
